<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="swap" value="5c450046-28c5-4d7c-ba02-ae2686d071f1_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_7a7a50a6-0c26-4b89-9310-121b2be0fdae_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
