<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="false"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="true"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="Meter" value="e65c231d-4e75-4890-97cd-55d1c7eb4005_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_e2a3d461-e4a5-4255-b3f4-20583ce6f15a_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_96158cf7-d761-4364-8754-da6c72e427fe_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_ce412077-5560-4088-821a-cc4508ad295c_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_fcdb5536-5651-449d-a826-b3585c742b56_INTERNALTOKEN_1_INTERNALTOKEN_fbc8c976-cef3-4f34-83f3-d79ca8151fa8_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="true"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="0"/>
</launchConfiguration>
